header{
	background-color: Maroon;
	min-width: 1050px;
}
header::after{
	content: '';
	display: table;
	clear: both;
}
#topname{
	font-family: Lato, sans-serif;
	font-size: 50px;
	color: White;
	float: left;
	font-weight: 400; /* thickness of lettering */
	letter-spacing: 3px;
	text-transform: uppercase;
}
nav{ /* styling the navigation bar */
	float: right;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 20px;
	padding-top: 10%;
	position: relative;
}
.navbutton{ /* styling buttons in navigation bar */
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Lato, sans-serif;
	font-size: 20px;
	padding-top: 60%;
	padding-bottom: 50%;
}
.navbutton::before{
	content: '';
	display: block;
	height: 7px;
	width: 100%;
	background-color: #e3bc9a;
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 230ms;
}
.navbutton:hover{
	color: #e3bc9a;
}
.navbutton:hover::before{
	width: 100%;
}
.container{ /* styling divisions */
	width: 85%;
	margin: 0 auto;
}
body{
	background: #f2f2f2;
}
p{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	line-height: 30px;
}
#hello{
	font-family: Verdana, sans-serif;
	padding-top: 10px;
}


